
.app.container {
    margin-top: 2.5vmin;
    padding: 3vmin !important;
    height: 90vh;
    /* overflow-y: auto; */
}

.app > .row {
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.app .page {
    height: 100%;
    overflow: auto;
}